---
import Icon from 'astro-icon';
---

<footer class="w-full py-10 flex flex-col items-center gap-4">
  <div class="flex flex-row items-center justify-between gap-16 text-sm">
    <a
      class="flex flex-col items-center gap-1"
      href="https://www.linkedin.com/in/giovanni-c-4a11571b6"
      target="_blank"
      rel="noreferrer"
      title="LinkedIn"
      aria-label="LinkedIn">
      <Icon name="bi:linkedin" class="w-10 text-[#0077B5] bg-white rounded-md" />
    </a>
    <a
      class="flex flex-col items-center gap-1"
      href="https://github.com/giovacalle"
      target="_blank"
      rel="noreferrer"
      title="Github"
      aria-label="Github">
      <Icon name="mdi:github" class="w-10" />
    </a>
    <a
      class="flex flex-col items-center gap-1"
      href="mailto:giovacalle.dev@gmail.com"
      target="_blank"
      rel="noreferrer"
      title="Email"
      aria-label="Email">
      <Icon name="logos:google-gmail" class="w-10" />
    </a>
  </div>
  <span class="text-sm"
    >&copy; {new Date().getFullYear()} Giovanni Callegari. Made by me with <a
      href="https://astro.build/"
      class="text-pink hover:underline"
      rel="noopener noreferrer"
      target="_blank">Astro</a
    ></span
  >
</footer>
