---
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
---

<head>
  <ViewTransitions />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Giovanni Callegari portfolio" />
  <meta name="theme-color" content="#000000" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/logo192.png" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <script is:inline>
  const setThemeInitial = () => {
    if (localStorage) {
      const theme = localStorage.getItem('theme');
      if (theme) {
        document.documentElement.classList.toggle('dark', theme === 'dark');
        return;
      }
    }
    if (matchMedia('(prefers-color-scheme: dark)').matches) {
      localStorage.setItem('theme', 'dark');
      document.documentElement.classList.add('dark');
    }
  };
  setThemeInitial();
  </script>
  <slot />
</head>
