---
import Layout from '@layouts/Layout.astro';
import Icon from 'astro-icon';
---

<Layout title="Contacts" dataId="contacts">
  <section class="flex flex-col gap-3">
    <h4 class="title-section">Stay in touch</h4>
    <div class="flex flex-row items-center justify-between gap-4">
      <a
        class="flex flex-col items-center gap-2"
        href="https://www.linkedin.com/in/giovanni-c-4a11571b6"
        target="_blank"
        rel="noreferrer">
        <Icon name="mdi:linkedin" />
        <span>Linkedin</span>
      </a>
      <a
        class="flex flex-col items-center gap-2"
        href="https://github.com/giovacalle"
        target="_blank"
        rel="noreferrer">
        <Icon name="mdi:github" />
        <span>Github</span>
      </a>
      <a
        class="flex flex-col items-center gap-2"
        href="mailto:giovacalle.dev@gmail.com"
        target="_blank"
        rel="noreferrer">
        <Icon name="mdi:email" />
        <span>Email</span>
      </a>
    </div>
  </section>
</Layout>

<script>
  import anime from 'animejs/lib/anime.es.js';

  anime({
    targets: '[data-id="contacts"] > section',
    translateX: [-100, 0],
    easing: 'easeOutBounce'
  });
</script>
