---
import Layout from '@layouts/LayoutHome.astro';
import Tile from '@components/Tile/Tile';
import Icon from 'astro-icon';
import avatar from '@assets/avatar.jpg?url';
---

<Layout title="Giovanni's portfolio">
  <Tile
    round
    class="bg-cover bg-center bg-no-repeat shadow-sm shadow-black-rich dark:shadow-slate-600 transition-all hover:scale-105"
    style={{ 'background-image': `url(${avatar})` }}
    data-tile-me>
    <a
      href="/me.html"
      class="w-full h-full py-3 flex flex-col justify-center items-center bg-black-rich/10"
      transition:name="/me.html">
      <h2 class="text-white text-xl font-bold">About me</h2>
    </a>
  </Tile>
  <Tile
    round
    class="bg-gradient-to-r from-violet-400 to-red-500 shadow-sm shadow-black-rich dark:shadow-slate-600 transition-all hover:scale-105">
    <a
      href="/techs.html"
      class="w-full h-full py-3 flex flex-col items-center justify-between text-white"
      transition:name="/techs.html">
      <Icon name="mdi:code" class="w-3/4" />
      <h2 class="text-xl font-bold">Techs</h2>
    </a>
  </Tile>
  <Tile
    round
    class="max-h-[200px] sm:max-h-full col-span-2 sm:col-span-1 bg-gradient-to-r from-green to-blue-500 shadow-sm shadow-black-rich dark:shadow-slate-600 transition-all hover:scale-105">
    <a
      href="/projects.html"
      class="w-full h-full py-3 flex flex-col items-center justify-between text-white"
      transition:name="/projects.html">
      <Icon name="mdi:draw" class="w-3/4" />
      <h2 class="text-xl font-bold">Projects</h2>
    </a>
  </Tile>
</Layout>
