---
import { Timeline } from '@components/Timeline.tsx';
import Layout from '@layouts/LayoutPage.astro';
import { getCollection } from 'astro:content';

const yearsExperience = new Date().getFullYear() - 2018;
const timeline = await getCollection('timeline');
---

<Layout title="About me">
  <p>
    Nice to meet you, I&apos;m Giovanni Callegari, software developer with {yearsExperience}+ years
    of experience. Enthusiast in web development with a passion for building digital products.{' '}
    <br />I love the entire process of development: from the concept, brainstorming sessions, all
    the way to solving real-life problems with code.
  </p>
  <Timeline client:visible timeline={timeline} />
  <h2 class="text-xl text-green-orange font-semibold">Approach</h2>
  <p>
    During coding sessions I really like to collaborate with other team workers, showing my best
    value. I believe in team working, to share ideas and then to create magic ! <br />
    <br />I consider myself a &apos;
    <a
      class="text-darkgreen dark:text-green font-bold"
      href="https://en.wikipedia.org/wiki/First_principle"
      target="_blank"
      rel="noreferrer">
      first principle thinker
    </a>
    &apos;: my approach to problem-solving, not only in terms of coding, is regulated by an analysis
    destructured of problems.
    <br />
    In doing so I can focus on the smaller problems of the main one, so, I can channel my energy to solve
    the problem deeper, with more awareness of it.
  </p>
  <h2 class="text-xl text-green-orange font-semibold">Also</h2>
  <p>
    Software development is also a passion of mine, indeed I like to follow new courses or build
    upon actual knowledge to master it. Besides I spend some time completing personal projects,
    thanks to other developer friends too.
    <br />
    <br />
    In addition I really love sports, especially do weights, also basketball and swimming which are my
    favorite since I was a child. For four years, though, I’ve been going to the gym.
  </p>
</Layout>
