---
import LayoutTest from '@layouts/LayoutTest.astro';
import Tile from '@components/Tile/Tile';
import Icon from 'astro-icon';
import avatar from '@public/avatar.jpg?url';
---

<LayoutTest title="Contacts" dataId="contacts">
  <Tile
    round
    class="bg-cover bg-center bg-no-repeat shadow-sm shadow-black-rich dark:shadow-slate-600 transition-all hover:scale-110"
    style={{ 'background-image': `url(${avatar})` }}
    data-tile-me>
    <a
      href="/me"
      class="w-full h-full py-3 flex flex-col justify-center items-center bg-black-rich/10">
      <h2 class="text-white text-xl font-bold">About me</h2>
    </a>
  </Tile>
  <Tile
    round
    class="bg-green shadow-sm shadow-black-rich dark:shadow-slate-600 transition-all hover:scale-110">
    <a href="/techs" class="w-full h-full py-3 flex flex-col items-center justify-between">
      <Icon name="mdi:code" class="w-3/4" />
      <h2 class="text-white text-xl font-bold">Techs</h2>
    </a>
  </Tile>
  <Tile
    round
    class="bg-orange shadow-sm shadow-black-rich dark:shadow-slate-600 transition-all hover:scale-110">
    <a href="/projects" class="w-full h-full py-3 flex flex-col items-center justify-between">
      <Icon name="mdi:draw" class="w-3/4" />
      <h2 class="text-white text-xl font-bold">Projects</h2>
    </a>
  </Tile>
</LayoutTest>
