---
import { Icon } from 'astro-icon';
import Navlinks from './Navlinks.astro';
---

<button
  role="button"
  class="sm:hidden hover:opacity-70"
  title="Show menu"
  aria-label="Menu"
  data-toggle-menu>
  <Icon name="ic:round-menu" width="40" data-icon-menu />
  <Icon name="ic:round-close" width="40" class="hidden" data-icon-close />
</button>
<nav
  class="h-[200px] w-[150px] fixed top-16 left-1 border border-slate-400 dark:border-slate-600 rounded-md backdrop-blur-sm bg-white/70 dark:bg-black-rich/70"
  data-nav-mobile>
  <Navlinks isMobile={true} />
</nav>

<script>
  const toggleMenu = document.querySelector('[data-toggle-menu]');
  const iconMenu = document.querySelector('[data-toggle-menu] [data-icon-menu]');
  const iconClose = document.querySelector('[data-toggle-menu] [data-icon-close]');
  const navMobile = document.querySelector('[data-nav-mobile]');
  const setMenuState = mobileMenuHandler();

  toggleMenu?.addEventListener('keyup', event => {
    if ((event as KeyboardEvent).key == 'Escape') {
      setMenuState(true);
    }
  });

  toggleMenu?.addEventListener('click', () => {
    setMenuState();
  });

  function mobileMenuHandler() {
    let isOpen = false;

    navMobile?.classList.add('hidden');

    return (bForceClose = false) => {
      if (isOpen || bForceClose) {
        iconMenu?.classList.remove('hidden');
        iconClose?.classList.add('hidden');
        toggleMenu?.setAttribute('title', 'Show menu');
        navMobile?.classList.add('hidden');
      } else {
        iconMenu?.classList.add('hidden');
        iconClose?.classList.remove('hidden');
        toggleMenu?.setAttribute('title', 'Close menu');
        navMobile?.classList.remove('hidden');
      }

      isOpen = !isOpen;

      return isOpen;
    };
  }
</script>
