---
const { isMobile = false } = Astro.props;
const isActive = (path: string) => Astro.url.pathname === path;
---

<ul
  class:list={[
    'h-full flex',
    {
      'flex-col justify-around': isMobile,
      'flex-row gap-8': !isMobile
    }
  ]}
  data-navlinks>
  <li
    class:list={[
      'w-full py-1 px-3 hover:underline hover:underline-offset-4 font-bold text-center text-lg text-green-orange',
      {
        'bg-orange sm:rounded-lg dark:bg-darkgreen': isActive('/me.html')
      }
    ]}>
    <a href="/me.html" class="hover:opacity-70">Me</a>
  </li>
  <li
    class:list={[
      'w-full py-1 px-3 hover:underline hover:underline-offset-4 font-bold text-center text-lg text-green-orange',
      {
        'bg-orange sm:rounded-lg dark:bg-darkgreen': isActive('/techs.html')
      }
    ]}>
    <a href="/techs.html" class="hover:opacity-70">Techs</a>
  </li>
  <li
    class:list={[
      'w-full py-1 px-3 hover:underline hover:underline-offset-4 font-bold text-center text-lg text-green-orange',
      {
        'bg-orange sm:rounded-lg dark:bg-darkgreen': isActive('/projects.html')
      }
    ]}>
    <a href="/projects.html" class="hover:opacity-70">Projects</a>
  </li>
</ul>
