---
import { Image } from 'astro:assets';
import profile_photo from '@public/profile_photo.jpg';
import MessageBubble from './Message/MessageBubble';
---

<div class="mt-28 mb-10 flex items-center justify-center gap-10">
  <div class="flex flex-col gap-3 border-white">
    <MessageBubble data-message>
      <p
        data-message-greeting
        aria-label="Hello there, my name is Giovanni. I'm a software developer!"
        aria-hidden="true">
        Hello there, my name is Giovanni. <br />
        I'm a software developer! 👨‍💻
      </p>
    </MessageBubble>
    <MessageBubble data-message>
      <p data-message-welcome aria-label="Welcome to my portfolio!!!" aria-hidden="true">
        Welcome to my portfolio
      </p>
    </MessageBubble>
  </div>
  <Image
    alt="profile"
    src={profile_photo}
    width={100}
    height={100}
    class="rounded-full object-cover"
    data-profile-photo
  />
</div>

<script>
  import anime from 'animejs/lib/anime.es.js';
  import { getData, setData } from '@utils/sessionStorage';
  // @ts-ignore
  import Typewriter from 'typewriter-effect/dist/core';

  const hero = getData('hero');

  if (!hero) {
    setData('hero', true);

    document.querySelectorAll('[data-message-greeting]').forEach(el => {
      el.classList.add('opacity-0');
    });

    const typewriterGreeting = new Typewriter(document.querySelector('[data-message-greeting]'), {
      delay: 75
    });
    const typewriterWelcome = new Typewriter(document.querySelector('[data-message-welcome]'), {
      delay: 75
    });
    let greetingBubbleUpdate = 0;
    let welcomeBubbleUpdate = 0;

    anime({
      targets: document.querySelector('[data-profile-photo]'),
      easing: 'easeOutElastic(1, .6)',
      opacity: [0, 1],
      translateX: [50, 0]
    });
    anime({
      targets: document.querySelector('[data-message]:first-child'),
      easing: 'spring(1, 80, 10, 0)',
      opacity: [0, 1],
      translateY: [-50, 0],
      delay: 300,
      loop: false,
      update: (anim: any) => {
        if (Math.round(anim.progress) < 50 || greetingBubbleUpdate > 0) {
          return;
        }

        greetingBubbleUpdate++;

        typewriterGreeting
          .typeString('Hello there 🙋‍♂️, my name is Giovanni.<br />')
          .pauseFor(300)
          .typeString('<span>I&apos;m a software developer.</span>')
          .pauseFor(1000)
          .start()
          .callFunction(() => {
            anime({
              targets: document.querySelector('[data-message]:last-child'),
              easing: 'spring(1, 80, 10, 0)',
              opacity: [0, 1],
              translateY: [-50, 0],
              update: (anim2: any) => {
                if (Math.round(anim2.progress) < 50 || welcomeBubbleUpdate > 0) {
                  return;
                }

                document.querySelector('.Typewriter__cursor')?.remove();

                welcomeBubbleUpdate++;

                typewriterWelcome
                  .typeString('Welcome to my portfolio!')
                  .pauseFor(500)
                  .deleteChars(3)
                  .typeString('io!!! 🚀')
                  .start()
                  .callFunction(() => {
                    document.querySelector('.Typewriter__cursor')?.remove();
                  });
              }
            });
          });
      }
    });
  }
</script>
