---
import Hero from '@components/Hero.astro';
import Header from '@components/layout/Header.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  dataId?: string;
}

const { title = 'Giovanni Callegari portfolio', dataId } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Giovanni Callegari portfolio" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      const isDark = () => {
        if (typeof localStorage === 'undefined') return false;
        const theme = localStorage.getItem('theme');
        if (theme) return theme === 'dark';
        if (matchMedia('(prefers-color-scheme: dark)').matches) {
          localStorage.setItem('theme', 'dark');
          return true;
        }
        return false;
      };
      document.documentElement.classList.toggle('dark', isDark());
    </script>
  </head>
  <body class="h-screen w-screen transition-colors">
    <main class="max-w-screen-md mx-auto mt-10 px-3" data-id={dataId}>
      <slot />
    </main>
    <footer class="w-full text-center text-sm py-12">
      &copy; {new Date().getFullYear()} Giovanni Callegari. Made by me with <a
        href="https://astro.build/"
        class="text-orange hover:underline"
        rel="noopener noreferrer"
        target="_blank">Astro</a
      >
    </footer>
  </body>
</html>
